<table border="1" cellpadding="5">
  <tr>
    <th>hasValue</th>
    <td>{{ myResource.hasValue() }}</td>
  </tr>
  <tr>
    <th>Value</th>
    <td>
      @if (myResource.hasValue()) {
      {{ myResource.value() }}
      @if (myResource.value() === undefined) {undefined} }
    </td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{{ myResource.status() }}</td>
  </tr>
  <tr>
    <th>isLoading</th>
    <td>{{ myResource.isLoading() }}</td>
  </tr>

  <tr>
    <th>error</th>
    <td>@if (myResource.error(); as error) {{{ error.message }}}</td>
  </tr>
  <tr>
    <th>Params</th>
    <td>
      <button (click)="params.set(undefined)">undefined</button>
      <button (click)="params.set('foo')">foo</button>
      <button (click)="params.set('bar')">bar</button>
      <button (click)="params.set('abc')">abc</button>
    </td>
  </tr>
  <tr>
    <th>Control</th>
    <td>
      <button (click)="params.set('error')">error</button>
      <button (click)="myResource.reload()">Reload</button>
    </td>
  </tr>
</table>
